{% extends "booru/base.html" %}

{% block title %}My Image Library{% endblock %}

{% block content %}
    <h1>My Image Library</h1>
    {% for post in posts %}
        <h2>
            <!--Change the linking element to the image itself once title is a nullable field-->
            <a href="{% url 'booru:post_view' post.id %}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}