{% extends "booru/base.html" %}

{% block title %}Jackalope - Image {{ post.id }}{% endblock %}

<!--A collapsible list of tags for the post should be displayed to the left of said post, in a vertical list, alongside the count of posts that contain that particular tag.-->
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <!--Need to implement buttons to display images at various sizes, "fit width", "fit height", and "original" at least-->
    <img src="/{{post.content}}" alt="{{ post.altText }}">
    {% if post.status == "PB" %}
    <p>
        <a href="{% url "booru:post_request" post.id %}">
            Request Alteration
        </a>
    </p>
    {% endif %}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                #{{ forloop.counter }}: {{ comment }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Nobody has commented yet. Be the first!</p>
    {% endfor %}
    <!--This should be in a dropdown above the comments section, but it's fine here for now.-->
    {% include "booru/post/includes/comment_form.html" %}
{% endblock %}